
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=IBM+Plex+Serif:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=IBM+Plex+Serif:wght@300&family=Playfair+Display:ital@0;1&display=swap');

:root{
    --themeColor: coral;
    --themeFont: font-family: 'Cormorant Garamond', serif;
    --themeFont2: font-family: 'IBM Plex Serif', serif;;

}
body{
    margin: 0;
}
#LMlogo{
    width:15rem ;
}
#home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("./Images/houseBackground.jpg");
    height: 100vh;
}
p{
    font-family: var(--themeFont);
    font-size: 25px;
}
h1{
    font-family: 'Playfair Display', serif;
}

h2{
    font-weight: 50;
    font-style: italic;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 1rem;
}

ul{
    display: flex;
}

#navItems ul li{
    list-style-type: none;
    font-size: 1.5rem;
    margin: 8px;
    
}

a:hover{
    color: white;
    box-shadow: inset;
    box-shadow: rgba(230, 224, 224, 0.24) 0px 3px 8px;
    font-family: 'Playfair Display', serif;
    
}


a{
    text-decoration: none;
    color: coral;
    
}
.navlink{
    position: relative;
  }
.navlink:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--themeColor);
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}
 
.navlink:hover:after{
  width: 100%;
  left: 0;
  background: white;
}

#landingPage{
    max-width: 75%;
    display: flex;
    margin: auto;
    justify-content: center;
    
    margin-top: 2rem;
    padding: 2rem 0;
    
}
#Newsletter{
    margin: auto;
}
input{
    padding: 15px;
    font-size: 19px;
    border-width: 3px;
    border-color: var(--themeColor);
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0px 5px 30px rgba(66,66,66,.75);
    text-shadow: -10px -15px 5px rgba(66,66,66,.75);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}