
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=IBM+Plex+Serif:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=IBM+Plex+Serif:wght@300&family=Playfair+Display:ital@0;1&display=swap');

:root{
    --themeColor: coral;
    --themeColor2: rgb(243, 210, 198);
    --themeFont: font-family: 'Cormorant Garamond', serif;
    --themeFont2: font-family: 'IBM Plex Serif', serif;;

}
body{
    margin: 0;
}
#LMlogo{
    width:15rem ;
}
#home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("./Images/houseBackground.jpg");
    height: 100vh;

}
p{
    font-family: var(--themeFont);
    font-size: 25px;
    color:white;
}
h1{
    font-family: 'Playfair Display', serif;
    color: var(--themeColor2);
}

h2{
    font-weight: 50;
    font-style: italic;
    color: coral;
}
em{
    color: var(--themeColor);
    font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 1rem;
}
#homeNav{
    color: var(--themeColor);
}

ul{
    display: flex;
}

#navItems ul li{
    list-style-type: none;
    font-size: 1.5rem;
    margin: 8px;
    
}

a:hover{
    color: white;
    box-shadow: inset;
    box-shadow: rgba(230, 224, 224, 0.24) 0px 3px 8px;
    font-family: 'Playfair Display', serif;
    
}
#subhead{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: var(--themeColor2);
    padding: 5px;
    
}
.navlink{
    position: relative;
  }
.navlink:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--themeColor);
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}
 
.navlink:hover:after{
    width: 100%;
    left: 0;
    background: var(--themeColor);
  }

#landingPage{
    max-width: 75%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 2rem;
    padding: 2rem 0;
    
}
#Newsletter{
    position: relative;
    min-width: 700px;
    
}
#NewsletterDiv{
    position: relative;
}
input{
    max-width: 60%;
    padding: 15px;
    padding-right: 40px;
    font-size: 22px;
    border-width: 1px;
    border-color: var(--themeColor);
    background-color: transparent;
    color: #ffffff;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0px 5px 30px rgba(66,66,66,.75);
    text-shadow: -10px -15px 5px rgba(66,66,66,.75);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

input::placeholder{
    color: #ffffff;
    font-family: cursive;
}

button{
    padding: 10px;
    font-family: var(--themeFont);
    font-size: 20px;
    border-radius: 15px;
    border: white solid 1px;
    bottom: 10px;
    top: 8px;
    max-height: fit-content;
}

#Subscribe{
    background-color: var(--themeColor);
    position: absolute;
    right: 10px;
    top: 5px;
    right: 40rem;
    height: 80%;
    border: none;
    color: white;
 
}


/* ***************** */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");


.card {
font-size: small;
  border-radius: 10px;
  border: 1px solid var(--themeColor);
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 400px;
  height: 180px;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
  margin-bottom: 25px;

}
.card p{
    font-size: 20px;
    color: black;
}
.card p:hover{
    color: white;
}

.card h2{
    font-size: 1.5rem;
    
}
.card h2:hover{
    color: white;
    
}
.card:hover{
    color: white;
    box-shadow: 10px;
    transform: scale(1.04);   
}

.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: var(--themeColor);
  height:220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
  
}

.card:hover::before{
    transition-delay:0.2s ;
    transform: scale(40);
}




.card p{
    margin: 0;
}


#serviceCards{
    width: 90%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem;
    
}
#services{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./Images/sunset.jpg");
}
#cardHeader{
    display: flex;
}

#cardHeader img{
    width: 20%;
}

#demo{
    margin: auto;
    padding: 1rem;
    margin-bottom: 3rem;
}
#demo h2{
    text-align: center;
    font-size: 5rem;
}
#demo h4{
    text-align: center;
    font-size: 2rem;
    color: var(--themeColor2);
}
i{
    box-shadow: 10px;
    transform: 1.02;
    color: red;
    font-size:100px;
   
}
#callToAction{
    text-align: center;
   
}
#callToAction button{
    margin: 0 5em;
    color: white;
    padding: 0.75em;
    font-size: 25px;
}

#demoBtn{
    background-color: rgb(80, 211, 80);
}
#demoBtn:hover{
    background-color: white;
    color: rgb(80, 211, 80);
    border: 1px solid rgb(80, 211, 80);
}

#startNow{
    background-color: rgb(102, 102, 215);
}
#startNow:hover{
    background-color: white;
    color: rgb(102, 102, 215);
    border: 1px solid rgb(102, 102, 215);
}
.teamMember{
    object-fit: cover;
    overflow: hidden;
    width: 310px;
    height: 350px;
    margin: 10px;
    border: 1px white solid;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.teamMember:hover{
    opacity: 0.5;

}
.teamdiv{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    

}

.theTeam{
    background-color: var(--themeColor2);
    padding-bottom: 3rem;
}
.theTeam h1{
    color: black;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-style: italic;
    font-size: 3rem;
}
.myformControl{
    border: none;
    border-bottom: 1px solid black;
    outline: none; 
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    color: #212529;
    background-color: whitesmoke;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out
    
}
fieldset{
    padding: 25px;
    border-radius: 10px;
}

#formandLinks{
    width: 80%;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
}
#clientForm{
    width: 80%;
}
#contactDetails{
    text-align: center;
    color: var(--themeColor);
}
#contactIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    
}
#contactIcons a{
    font-size: 1.4em;
    margin: 15px;
    padding: 15px;
    color: var(--themeColor);
    
}
#contactIcons a:hover{
   
}
.clientdeets{
    font-size: 20px;
}
#submit{
    background-color: var(--themeColor);
    color: white;
}
.footer div p{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 20px;
}
.footer{
    background-color: var(--themeColor);
    padding-bottom: 1.5rem;
}
.footerContent{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}
#copyright{
    text-align: center;
    margin: 0;
}
.container {
    position: relative;
  }
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }